services:
  ryu:
    build: ./ryu_controller  # Build từ Dockerfile trong thư mục ryu_controller
    container_name: ryu_controller
    ports:
      - "6653:6653"   # OpenFlow protocol
      - "8080:8080"   # FlowManager
      - "8000:8000"   # Prometheus metrics
    command: ["ryu-manager", "--observe-links", "flowmanager/flowmanager.py", "/app/spine_leaf_controller.py"]
    environment:
      - NETWORK_CONFIG_FILE=/app/network_config.yaml
      - METRICS_PORT=8000
    volumes:
      - ./network_config.yaml:/app/network_config.yaml
      - ./ryu_controller/spine_leaf_controller.py:/app/spine_leaf_controller.py
      - ./ryu_controller/base_switch.py:/app/base_switch.py
      - ./ryu_controller/utils.py:/app/utils.py
      - ./ryu_controller/metrics_exporter.py:/app/metrics_exporter.py
    networks:
      - sdn_net

  mininet:
    build: ./mininet          # Build từ Dockerfile với Python 3 support
    container_name: mininet
    privileged: true          # Quyền này để quản lý giao diện mạng
    tty: true                 # Giữ cho container chạy để có thể attach vào
    stdin_open: true          # Cho phép tương tác với container
    environment:
      - SDN_CONTROLLER=ryu
    volumes:
      - ./network_config.yaml:/app/network_config.yaml
      - ./mininet/spine_leaf.py:/app/spine_leaf.py
      - ./mininet/traffic_generator.py:/app/traffic_generator.py
      - /tmp/.X11-unix:/tmp/.X11-unix
      - /lib/modules:/lib/modules
    depends_on:
      - ryu                   # Đảm bảo 'ryu' khởi động trước 'mininet'
    networks:
      - sdn_net

  prometheus:
    image: prom/prometheus:v3.7.2
    container_name: prometheus
    ports:
      - "9090:9090"   # Prometheus UI
    command:
      - '--config.file=/etc/prometheus/prometheus.yml'
      - '--storage.tsdb.path=/prometheus'
      - '--web.console.libraries=/etc/prometheus/console_libraries'
      - '--web.console.templates=/etc/prometheus/consoles'
      - '--storage.tsdb.retention.time=200h'
      - '--web.enable-lifecycle'
      - '--web.enable-admin-api'
    networks:
      - sdn_net
    volumes:
      - ./prometheus/prometheus.yaml:/etc/prometheus/prometheus.yml
      - ./prometheus/data:/prometheus
    depends_on:
      - ryu

  grafana:
    image: grafana/grafana:12.2.1
    container_name: grafana
    ports:
      - "3000:3000"
    networks:
      - sdn_net
    volumes:
      - ./grafana/provisioning:/etc/grafana/provisioning
      - ./grafana/dashboards:/etc/grafana/dashboards
      - ./grafana/data:/var/lib/grafana
    depends_on:
      - prometheus

networks:
  sdn_net:
    driver: bridge
